@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h2{
    padding: 10px;
}

/* Cabeçalho */

header {
    background-color: gray;
    display: flex;

    align-items: flex-start;

    height: 75px;
}

h1 {
    font-size: 2em;
}

menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.lista-menu {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    padding-bottom: 10px;
}

.item-lista {
    padding: 5px;
    align-self: flex-start;
    margin-left: auto;
}

.img-lista {
    width: 30px;
    padding: 3px;
    border-radius: 50%;
}

.img-lista:hover {
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: transform 0.2s, box-shadow 0.2s;
}

.link-lista {
    text-decoration: none;
    color: black;
}

.link-lista:hover {
    background-color: rgb(165, 164, 164);
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 5px;
}

/* Sessão Sobre */

.sobre {
    width: 92.5vw;
    height: 300px;
    padding: 10px;
    text-align: center;
}

.img-sobre {
    float: left;
    display: flex;
    justify-content: flex-start;
    width: 146px;
    height: 260px;
    margin-right: 10px;
}

.texto-sobre {
    overflow: hidden;
    line-height: 27px;
}

span {
    font-weight: 600;
}

section.sobre>article {
    height: 270px;
}

/* Sessão Tecnologias */

.tecnologias {
    text-align: center;
    padding: 10px;
    height: 480px;
}

section.tecnologias>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.js {
    width: 110px;
    height: 60px;

    margin: 6px;
}

.html {
    width: 70px;
    height: 70px;
}

.css {
    width: 60px;
    height: 60px;

    margin: 8px;
}

.git {
    width: 60px;
    height: 60px;

    margin: 9px;
}

.paragrafo-tecn {
    margin-top: 8px;
    text-align: center;
}